body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* MAIN STYLES */

.container {
  display: flex;
  flex-direction: column;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header .link {
  padding: 24px 0;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

img {
  display: block;
}

.hero {
  background: #2e2f42;
  padding: 188px 0;
}

.hero .container {
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.hero-header {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
}

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-card {
  width: calc((100% - 72px) / 4);
}

.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-card-text {
  padding: 32px 0;
}

.team-card .section-subheader {
  text-align: center;
  margin-bottom: 8px;
}

.team-card .article {
  text-align: center;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .article {
  margin-bottom: 8px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

footer .article {
  color: #f4f4fd;
  max-width: 264px;
}

footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer .container {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-top {
  color: #2e2f42;
}

.logo-botton {
  color: #f4f4fd;
}

.link:hover,
.link:active,
.link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

address .link {
  color: #434455;
  font-weight: 400;
}

.address {
  font-style: normal;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;

  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}

.btn:focus,
.btn:hover,
.btn:active {
  background-color: #404bbf;
}

.section-subheader {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.article {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
